<section id="footer">
  <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-text">@ 2016 TodoBakers | Tuan Phung </div>
    </div>
</section>
</div>
</body>
</html>