<% include partials/header %>
<section id="main">
  <div class="wrapper">
    <h1>TodoBakers</h1>
    <p>The best todo app ever. Start right now and accomplish more, every day.</p>
    <a class="btn btn-primary " href="/register">Get started - It's free</a>
    <a class="btn btn-default " href="/login">Sign in</a>
  </div>
</section>
<% include partials/footer %>